html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;

    /* CENTRADO COMPLETO CON FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 2rem;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    overflow: auto;
}

.botones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.5rem;
    width: 100%;
}

#respuesta {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    color: #f0f0f0;
}